# See http://help.github.com/ignore-files/ for more about ignoring files.
# compiled output
/dist
/tmp
#angular build output
src/main/resources/static/*.map
src/main/resources/static/*.bundle.*
src/main/resources/static/index.html
src/main/resources/static/favicon.ico
# dependencies
/node_modules
node
.mvn
# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.iml
# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings
# e2e
/e2e/*.js
/e2e/*.map
#System Files
.DS_Store
Thumbs.db
target/
!.mvn/wrapper/maven-wrapper.jar
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

#NODE
node_modules/
node/
src/main/resources/static/js
package-lock.json
