<div [formGroup]='playerFormGroup' class='container-sm m-1 border border-dark form-control' style='width: 360px'>
  <app-number [label]='"playerId"' [controlName]='"playerId"'></app-number>
  <app-text [label]='"name"' [controlName]='"name"'></app-text>
  <app-text [label]='"label"' [controlName]='"label"'></app-text>
  <app-slider [label]='"age_years"' [controlName]='"age"' [min]='17' [max]='35'></app-slider>
  <app-slider [label]='"age_days"' [controlName]='"days"' [min]='0' [max]='111'></app-slider>


  <!--  <div class='row'>-->
  <!--    <div class='col'>PlayerID:</div>-->
  <!--    <div class='col'><input formControlName='form' type='text' class='form-text w175'-->
  <!--    ></div>-->
  <!--  </div>-->
  <!--  <div class='row'>-->
  <!--    <div class='col'>PlayerID:</div>-->
  <!--    <div class='col'><input formControlName='stamina' type='text' class='form-text w175'-->
  <!--    ></div>-->
  <!--  </div>-->
  <!--  <div class='row'>-->
  <!--    <div class='col'>PlayerID:</div>-->
  <!--    <div class='col'><input formControlName='leadership' type='text' class='form-text w175'-->
  <!--    >-->
  <!--    </div>-->
  <!--  </div>-->
  <!--  <div class='row'>-->
  <!--    <div class='col'>PlayerID:</div>-->
  <!--    <div class='col'><input formControlName='experience' type='text' class='form-text w175'-->
  <!--    >-->
  <!--    </div>-->
  <!--  </div>-->
  <!--  <div class='row'>-->
  <!--    <div class='col'>PlayerID:</div>-->
  <!--    <div class='col'><input formControlName='loyalty' type='text' class='form-text w175'-->
  <!--    ></div>-->
  <!--  </div>-->
  <!--  <div class='row'>-->
  <!--    <div class='col'>PlayerID:</div>-->
  <!--    <div class='col'><input formControlName='motherClubBonus' type='text'-->
  <!--                            class='form-text w175'>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--  <div class='row'>-->
  <!--    <div class='col'>PlayerID:</div>-->
  <!--    <div class='col'><input formControlName='specialty' type='text' class='form-text w175'-->
  <!--    >-->
  <app-skill [label]='"keeper"' [controlName]='"keeper"' [max]='25'></app-skill>
  <!--    </div>-->
  <!--  </div>-->
  <!--  <div class='row'>-->
  <!--    <div class='col'>PlayerID:</div>-->
  <!--    <div class='col'><input formControlName='keeper' type='text' class='form-text w175'-->
  <!--    ></div>-->
  <!--  </div>-->
  <!--  <div class='row'>-->
  <!--    <div class='col'>PlayerID:</div>-->
  <!--    <div class='col'><input formControlName='defender' type='text' class='form-text w175'-->
  <!--    >-->
  <!--    </div>-->
  <!--  </div>-->
  <!--  <div class='row'>-->
  <!--    <div class='col'>PlayerID:</div>-->
  <!--    <div class='col'><input formControlName='playmaker' type='text' class='form-text w175'-->
  <!--    >-->
  <!--    </div>-->
  <!--  </div>-->
  <!--  <div class='row'>-->
  <!--    <div class='col'>PlayerID:</div>-->
  <!--    <div class='col'><input formControlName='winger' type='text' class='form-text w175'-->
  <!--    ></div>-->
  <!--  </div>-->
  <!--  <div class='row'>-->
  <!--    <div class='col'>PlayerID:</div>-->
  <!--    <div class='col'><input formControlName='passing' type='text' class='form-text w175'-->
  <!--    ></div>-->
  <!--  </div>-->
  <!--  <div class='row'>-->
  <!--    <div class='col'>PlayerID:</div>-->
  <!--    <div class='col'><input formControlName='scorer' type='text' class='form-text w175'-->
  <!--    ></div>-->
  <!--  </div>-->
  <!--  <div class='row'>-->
  <!--    <div class='col'>PlayerID:</div>-->
  <!--    <div class='col'><input formControlName='setPieces' type='text' class='form-text w175'-->
  <!--    >-->
  <!--    </div>-->
  <!--  </div>-->
  <!--  <div class='row'>-->
  <!--    <div class='col'>PlayerID:</div>-->
  <!--    <div class='col'><input formControlName='inclusionWeek' type='text' class='form-text w175'-->
  <!--    >-->
  <!--    </div>-->
  <!--  </div>-->
  <!--  <div class='row'>-->
  <!--    <div class='col'>PlayerID:</div>-->
  <!--    <div class='col'><input formControlName='daysForNextTraining' type='text' class='form-text w175'-->
  <!--    >-->
  <!--    </div>-->
  <!--  </div>-->
</div>
