<div [formGroup]='playerFormGroup' class='container m-1 border border-dark'>
  <div class='row row-cols-3'>
    <div class='col'>PlayerID:</div>
    <div class='col-2'><input formControlName='playerId' type='text'></div>
  </div>
  <div class='row row-cols-3'>
    <div class='col'>{{ "name" | translate | titlecase }}:</div>
    <input class='col-2' formControlName='name' type='text'>
  </div>
  <div class='row row-cols-3'>
    <div class='col'>PlayerID:</div>
    <input formControlName='label' type='text' class='col'>
  </div>
  <div class='row row-cols-3'>
    <div class='col'>Age (years):</div>
    <div class='col'><input type='range'></div>
    <div class='col'><input formControlName='age' type='text' class='form-control'></div>
  </div>
  <div class='row row-cols-3'>
    <div class='col'>PlayerID:</div>
    <input formControlName='days' type='text' class='col'>
  </div>
  <div class='row row-cols-3'>
    <div class='col'>PlayerID:</div>
    <input formControlName='form' type='text' class='col'>
  </div>
  <div class='row row-cols-3'>
    <div class='col'>PlayerID:</div>
    <input formControlName='stamina' type='text' class='col'>
  </div>
  <div class='row row-cols-3'>
    <div class='col'>PlayerID:</div>
    <input formControlName='leadership' type='text' class='col'>
  </div>
  <div class='row row-cols-3'>
    <div class='col'>PlayerID:</div>
    <input formControlName='experience' type='text' class='col'>
  </div>
  <div class='row row-cols-3'>
    <div class='col'>PlayerID:</div>
    <input formControlName='loyalty' type='text' class='col'>
  </div>
  <div class='row row-cols-3'>
    <div class='col'>PlayerID:</div>
    <input formControlName='motherClubBonus' type='text' class='col'>
  </div>
  <div class='row row-cols-3'>
    <div class='col'>PlayerID:</div>
    <input formControlName='specialty' type='text' class='col'>
  </div>
  <div class='row row-cols-3'>
    <div class='col'>PlayerID:</div>
    <input formControlName='keeper' type='text' class='col'>
  </div>
  <div class='row row-cols-3'>
    <div class='col'>PlayerID:</div>
    <input formControlName='defender' type='text' class='col'>
  </div>
  <div class='row row-cols-3'>
    <div class='col'>PlayerID:</div>
    <input formControlName='playmaker' type='text' class='col'>
  </div>
  <div class='row row-cols-3'>
    <div class='col'>PlayerID:</div>
    <input formControlName='winger' type='text' class='col'>
  </div>
  <div class='row row-cols-3'>
    <div class='col'>PlayerID:</div>
    <input formControlName='passing' type='text' class='col'>
  </div>
  <div class='row row-cols-3'>
    <div class='col'>PlayerID:</div>
    <input formControlName='scorer' type='text' class='col'>
  </div>
  <div class='row row-cols-3'>
    <div class='col'>PlayerID:</div>
    <input formControlName='setPieces' type='text' class='col'>
  </div>
  <div class='row row-cols-3'>
    <div class='col'>PlayerID:</div>
    <input formControlName='inclusionWeek' type='text' class='col'>
  </div>
  <div class='row row-cols-3'>
    <div class='col'>PlayerID:</div>
    <input formControlName='daysForNextTraining' type='text' class='col'>
  </div>
</div>
