<div class="d-flex">
  <i class="bi bi-globe text-white-50 pe-2"></i>
  <select [(ngModel)]="lang" #selLang (change)="setLanguage(selLang.value)">
    <option value="sq">Albanian</option>
    <option value="ar">العربية</option>
    <option value="az">Azərbaycanca</option>
    <option value="id">Bahasa Indonesia</option>
    <option value="bs">Bosanski</option>
    <option value="bg">Български</option>
    <option value="ca">Català</option>
    <option value="cs">Čeština</option>
    <option value="da">Dansk</option>
    <option value="de">Deutsch</option>
    <option value="et">Eesti</option>
    <option value="en-GB">English (UK)</option>
    <option value="en-US">English (US)</option>
    <option value="es-ES">Español, España</option>
    <option value="es-CR">Español, Latinoamericano</option>
    <option value="es-AR">Español, Rioplatense</option>
    <option value="eu">Euskara</option>
    <option value="fr">Français</option>
    <option value="fy-NL">Frysk</option>
    <option value="fur-IT">Furlan</option>
    <option value="gl">Galego</option>
    <option value="ka">ქართული</option>
    <option value="he">עברית</option>
    <option value="hr">Hrvatski</option>
    <option value="is">Íslenska</option>
    <option value="it">Italiano</option>
    <option value="lv">Latviešu</option>
    <option value="lb">Lëtzebuergesch</option>
    <option value="lt">Lietuvių</option>
    <option value="hu">Magyar</option>
    <option value="nl">Nederlands</option>
    <option value="no">Norsk, bokmål</option>
    <option value="nn-NO">Norsk, nynorsk</option>
    <option value="fa">فارسی</option>
    <option value="pl">Polski</option>
    <option value="pt-PT">Português</option>
    <option value="pt-BR">Português, Brasil</option>
    <option value="ro">Română</option>
    <option value="sk">Slovenčina</option>
    <option value="sl">Slovenščina</option>
    <option value="fi">Suomi</option>
    <option value="sv-SE">Svenska</option>
    <option value="vi">Tiếng Việt</option>
    <option value="tr">Türkçe</option>
    <option value="vls-BE">Vlaams</option>
    <option value="el">Ελληνικά</option>
    <option value="be">Беларуская</option>
    <option value="mk">Македонски</option>
    <option value="ru">Русский</option>
    <option value="sr">Српски</option>
    <option value="uk">Українська</option>
    <option value="zh-CN">中文（简体）</option>
    <option value="ko">한국어</option>
    <option value="ja">日本語</option>
  </select>
</div>


