<div class="accordion-item">
  <h2 class="accordion-header" id="training-header">
    <button class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#training-body"
            aria-expanded="false"
            aria-controls="training-body">
      {{ "training.header" | translate }}
    </button>
  </h2>
  <div id="training-body"
       class="accordion-collapse collapse"
       aria-labelledby="training-header">
    <div class="accordion-body">
      training-body
    </div>
  </div>
</div>