#header {
    padding-top: 20px;
}

#section_file {
    padding-top: 40px;
}

#div_save {
    position: relative;
    float: left;
    padding-top: 20px;
}

#div_load {
    position: relative;
    float: left;
    padding-top: 20px;
    padding-left: 10px;
}

.button {
    position: relative;
    background-color: #e7e7e7;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid #000000;
}

#load {
    visibility: hidden;
}

#section_players {
    padding-top: 100px;
}

#players {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    align-items: stretch;
}

.player {
    width: 270px;
    min-width: 270px;
    max-width: 270px;
}

.b1 {
    border: 1px solid #000000;
}

.tac {
    text-align: center;
}

.pt20 {
    padding-top: 20px;
}

.p20 {
    padding: 20px;
}

.p5 {
    padding: 5px;
}

.h {
    min-height: 20px;
}
