<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>HTTE</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="/css/styles.css" rel="stylesheet" type="text/css"/>
    <script src="/js/filesaver.js"></script>
    <script src="/js/index.js"></script>
</head>
<body>
<div id="header">Hattrick Team Training Estimation</div>
<div id="filezone">
    <input type="button" id="save" name="save" value="Guardar configuración">
    <label for="load" class="btn">Cargar configuración</label>
    <input type="file" id="load" name="load" style="visibility:hidden;">
</div>

<div class="boxOptions1" style="display: flex; flex-direction: row; width: 100%; height: 75px; justify-content: flex-start; align-items: stretch;">
    <div class="rect demo-dark" style="display: flex; max-width: none; min-width: 0px; flex: 32 1 0px;">PORTERIA</div>
    <div class="rect demo-light" style="display: flex; max-width: none; min-width: 0px; flex: 48 1 0px;">DEFENSA</div>
    <div class="rect demo-dark" style="display: flex; max-width: none; min-width: 0px; flex: 64 1 0px;">JUGADAS</div>
    <div class="rect demo-light" style="display: flex; max-width: none; min-width: 0px; flex: 48 1 0px;">ANOTACION</div>
    <div class="rect demo-dark" style="display: flex; max-width: none; min-width: 0px; flex: 32 1 0px;">EXTREMO</div>
    <div class="rect demo-light" style="display: flex; max-width: none; min-width: 0px; flex: 32 1 0px;">PASES</div>
    <div class="rect demo-dark" style="display: flex; max-width: none; min-width: 0px; flex: 32 1 0px;">BP</div>
</div>


</body>
</html>
