<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>HTTE</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="/css/styles.css" rel="stylesheet" type="text/css"/>
    <script src="/js/filesaver.js"></script>
    <script src="/js/index.js"></script>
</head>
<body>
<div id="header">Hattrick Team Training Estimation</div>
<div id="section_file">
    <div id="section_file_info">Para no tener que repetir el proceso de configuración del HTTE, se ofrecen las opciones de "Guardar configuración" y posterior "Cargar configuración".</div>
    <div id="div_save"><label class="button" id="save">Guardar configuración</label></div>
    <div id="div_load">
        <label class="button" for="load">Cargar configuración</label>
        <input type="file" id="load" name="load">
    </div>
</div>
<div id="section_players">
    <div id="section_players_info">Paso 1) Configurar los jugadores definiendo sus habilidades iniciales y la semana de incorporación al entrenamiento.</div>
    <div id="players">
        <div class="player b1 p5">
            <div class="h tac">Nuevo Jugador</div>
            <div class="h">
                Años:
                <select id="new_player_age">
                    <option>17</option>
                    <option>18</option>
                    <option>19</option>
                    <option>20</option>
                    <option>21</option>
                    <option>22</option>
                    <option>23</option>
                    <option>24</option>
                    <option>25</option>
                    <option>26</option>
                    <option>27</option>
                    <option>28</option>
                    <option>29</option>
                    <option>30</option>
                    <option>31</option>
                    <option>32</option>
                    <option>33</option>
                    <option>34</option>
                    <option>35</option>
                    <option>36</option>
                    <option>37</option>
                    <option>38</option>
                    <option>39</option>
                    <option>40</option>
                </select>
            </div>
            <div class="h">
                Días:
                <select id="new_player_days">
                    <option>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                    <option>13</option>
                    <option>14</option>
                    <option>15</option>
                    <option>16</option>
                    <option>17</option>
                    <option>18</option>
                    <option>19</option>
                    <option>20</option>
                    <option>21</option>
                    <option>22</option>
                    <option>23</option>
                    <option>24</option>
                    <option>25</option>
                    <option>26</option>
                    <option>27</option>
                    <option>28</option>
                    <option>29</option>
                    <option>30</option>
                    <option>31</option>
                    <option>32</option>
                    <option>33</option>
                    <option>34</option>
                    <option>35</option>
                    <option>36</option>
                    <option>37</option>
                    <option>38</option>
                    <option>39</option>
                    <option>40</option>
                    <option>41</option>
                    <option>42</option>
                    <option>43</option>
                    <option>44</option>
                    <option>45</option>
                    <option>46</option>
                    <option>47</option>
                    <option>48</option>
                    <option>49</option>
                    <option>50</option>
                    <option>51</option>
                    <option>52</option>
                    <option>53</option>
                    <option>54</option>
                    <option>55</option>
                    <option>56</option>
                    <option>57</option>
                    <option>58</option>
                    <option>59</option>
                    <option>60</option>
                    <option>61</option>
                    <option>62</option>
                    <option>63</option>
                    <option>64</option>
                    <option>65</option>
                    <option>66</option>
                    <option>67</option>
                    <option>68</option>
                    <option>69</option>
                    <option>70</option>
                    <option>71</option>
                    <option>72</option>
                    <option>73</option>
                    <option>74</option>
                    <option>75</option>
                    <option>76</option>
                    <option>77</option>
                    <option>78</option>
                    <option>79</option>
                    <option>80</option>
                    <option>81</option>
                    <option>82</option>
                    <option>83</option>
                    <option>84</option>
                    <option>85</option>
                    <option>86</option>
                    <option>87</option>
                    <option>88</option>
                    <option>89</option>
                    <option>90</option>
                    <option>91</option>
                    <option>92</option>
                    <option>93</option>
                    <option>94</option>
                    <option>95</option>
                    <option>96</option>
                    <option>97</option>
                    <option>98</option>
                    <option>99</option>
                    <option>100</option>
                    <option>101</option>
                    <option>102</option>
                    <option>103</option>
                    <option>104</option>
                    <option>105</option>
                    <option>106</option>
                    <option>107</option>
                    <option>108</option>
                    <option>109</option>
                    <option>110</option>
                    <option>111</option>
                </select>
            </div>
            <div class="h">
                Forma:
                <select id="new_player_form">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                </select>
            </div>
            <div class="h">
                Resistencia:
                <select id="new_player_stamina">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                </select>
            </div>
            <div class="h">
                Experiencia:
                <select id="new_player_experience">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                    <option>13</option>
                    <option>14</option>
                    <option>15</option>
                    <option>16</option>
                    <option>17</option>
                    <option>18</option>
                    <option>19</option>
                    <option>20</option>
                </select>
            </div>
            <div class="h">
                Fidelidad:
                <select id="new_player_loyalty">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                    <option>13</option>
                    <option>14</option>
                    <option>15</option>
                    <option>16</option>
                    <option>17</option>
                    <option>18</option>
                    <option>19</option>
                    <option>20</option>
                </select>
            </div>
            <div class="h">
                Club de origen:
                <select id="new_player_motherClubBonus">
                    <option value="0">No</option>
                    <option value="1">Si</option>
                </select>
            </div>
            <div class="h">
                Especialidad:
                <select id="new_player_specialty">
                    <option value="0">Sin especialidad</option>
                    <option value="1">Técnico</option>
                    <option value="2">Rápido</option>
                    <option value="3">Potente</option>
                    <option value="4">Imprevisible</option>
                    <option value="5">Cabeceador</option>
                    <option value="6">Estoico</option>
                    <option value="8">Influyente</option>
                </select>
            </div>
            <div class="h">
                Porteria:
                <select id="new_player_keeper">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                    <option>13</option>
                    <option>14</option>
                    <option>15</option>
                    <option>16</option>
                    <option>17</option>
                    <option>18</option>
                    <option>19</option>
                    <option>20</option>
                </select>
            </div>
            <div class="h">
                Defensa:
                <select id="new_player_defender">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                    <option>13</option>
                    <option>14</option>
                    <option>15</option>
                    <option>16</option>
                    <option>17</option>
                    <option>18</option>
                    <option>19</option>
                    <option>20</option>
                </select>
            </div>
            <div class="h">
                Jugadas:
                <select id="new_player_playmaker">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                    <option>13</option>
                    <option>14</option>
                    <option>15</option>
                    <option>16</option>
                    <option>17</option>
                    <option>18</option>
                    <option>19</option>
                    <option>20</option>
                </select>
            </div>
            <div class="h">
                Lateral:
                <select id="new_player_winger">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                    <option>13</option>
                    <option>14</option>
                    <option>15</option>
                    <option>16</option>
                    <option>17</option>
                    <option>18</option>
                    <option>19</option>
                    <option>20</option>
                </select>
            </div>
            <div class="h">
                Pases:
                <select id="new_player_passing">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                    <option>13</option>
                    <option>14</option>
                    <option>15</option>
                    <option>16</option>
                    <option>17</option>
                    <option>18</option>
                    <option>19</option>
                    <option>20</option>
                </select>
            </div>
            <div class="h">
                Anotación:
                <select id="new_player_scorer">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                    <option>13</option>
                    <option>14</option>
                    <option>15</option>
                    <option>16</option>
                    <option>17</option>
                    <option>18</option>
                    <option>19</option>
                    <option>20</option>
                </select>
            </div>
            <div class="h">
                Balón Parado:
                <select id="new_player_setPieces">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                    <option>13</option>
                    <option>14</option>
                    <option>15</option>
                    <option>16</option>
                    <option>17</option>
                    <option>18</option>
                    <option>19</option>
                    <option>20</option>
                </select>
            </div>
            <div class="h">
                Semana de incorporación:
                <select id="new_player_inclusionWeek">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                    <option>13</option>
                    <option>14</option>
                    <option>15</option>
                    <option>16</option>
                    <option>17</option>
                    <option>18</option>
                    <option>19</option>
                    <option>20</option>
                    <option>21</option>
                    <option>22</option>
                    <option>23</option>
                    <option>24</option>
                    <option>25</option>
                    <option>26</option>
                    <option>27</option>
                    <option>28</option>
                    <option>29</option>
                    <option>30</option>
                    <option>31</option>
                    <option>32</option>
                    <option>33</option>
                    <option>34</option>
                    <option>35</option>
                    <option>36</option>
                    <option>37</option>
                    <option>38</option>
                    <option>39</option>
                    <option>40</option>
                    <option>41</option>
                    <option>42</option>
                    <option>43</option>
                    <option>44</option>
                    <option>45</option>
                    <option>46</option>
                    <option>47</option>
                    <option>48</option>
                    <option>49</option>
                    <option>50</option>
                    <option>51</option>
                    <option>52</option>
                    <option>53</option>
                    <option>54</option>
                    <option>55</option>
                    <option>56</option>
                    <option>57</option>
                    <option>58</option>
                    <option>59</option>
                    <option>60</option>
                    <option>61</option>
                    <option>62</option>
                    <option>63</option>
                    <option>64</option>
                    <option>65</option>
                    <option>66</option>
                    <option>67</option>
                    <option>68</option>
                    <option>69</option>
                    <option>70</option>
                    <option>71</option>
                    <option>72</option>
                    <option>73</option>
                    <option>74</option>
                    <option>75</option>
                    <option>76</option>
                    <option>77</option>
                    <option>78</option>
                    <option>79</option>
                    <option>80</option>
                    <option>81</option>
                    <option>82</option>
                    <option>83</option>
                    <option>84</option>
                    <option>85</option>
                    <option>86</option>
                    <option>87</option>
                    <option>88</option>
                    <option>89</option>
                    <option>90</option>
                    <option>91</option>
                    <option>92</option>
                    <option>93</option>
                    <option>94</option>
                    <option>95</option>
                    <option>96</option>
                    <option>97</option>
                    <option>98</option>
                    <option>99</option>
                    <option>100</option>
                    <option>101</option>
                    <option>102</option>
                    <option>103</option>
                    <option>104</option>
                    <option>105</option>
                    <option>106</option>
                    <option>107</option>
                    <option>108</option>
                    <option>109</option>
                    <option>110</option>
                    <option>111</option>
                    <option>112</option>
                    <option>113</option>
                    <option>114</option>
                    <option>115</option>
                    <option>116</option>
                    <option>117</option>
                    <option>118</option>
                    <option>119</option>
                    <option>120</option>
                    <option>121</option>
                    <option>122</option>
                    <option>123</option>
                    <option>124</option>
                    <option>125</option>
                    <option>126</option>
                    <option>127</option>
                    <option>128</option>
                    <option>129</option>
                    <option>130</option>
                    <option>131</option>
                    <option>132</option>
                    <option>133</option>
                    <option>134</option>
                    <option>135</option>
                    <option>136</option>
                    <option>137</option>
                    <option>138</option>
                    <option>139</option>
                    <option>140</option>
                    <option>141</option>
                    <option>142</option>
                    <option>143</option>
                    <option>144</option>
                    <option>145</option>
                    <option>146</option>
                    <option>147</option>
                    <option>148</option>
                    <option>149</option>
                    <option>150</option>
                    <option>151</option>
                    <option>152</option>
                    <option>153</option>
                    <option>154</option>
                    <option>155</option>
                    <option>156</option>
                    <option>157</option>
                    <option>158</option>
                    <option>159</option>
                    <option>160</option>
                    <option>161</option>
                    <option>162</option>
                    <option>163</option>
                    <option>164</option>
                    <option>165</option>
                    <option>166</option>
                    <option>167</option>
                    <option>168</option>
                    <option>169</option>
                    <option>170</option>
                    <option>171</option>
                    <option>172</option>
                    <option>173</option>
                    <option>174</option>
                    <option>175</option>
                    <option>176</option>
                    <option>177</option>
                    <option>178</option>
                    <option>179</option>
                    <option>180</option>
                    <option>181</option>
                    <option>182</option>
                    <option>183</option>
                    <option>184</option>
                    <option>185</option>
                    <option>186</option>
                    <option>187</option>
                    <option>188</option>
                    <option>189</option>
                    <option>190</option>
                    <option>191</option>
                    <option>192</option>
                    <option>193</option>
                    <option>194</option>
                    <option>195</option>
                    <option>196</option>
                    <option>197</option>
                    <option>198</option>
                    <option>199</option>
                    <option>200</option>
                    <option>201</option>
                    <option>202</option>
                    <option>203</option>
                    <option>204</option>
                    <option>205</option>
                    <option>206</option>
                    <option>207</option>
                    <option>208</option>
                    <option>209</option>
                    <option>210</option>
                    <option>211</option>
                    <option>212</option>
                    <option>213</option>
                    <option>214</option>
                    <option>215</option>
                    <option>216</option>
                    <option>217</option>
                    <option>218</option>
                    <option>219</option>
                    <option>220</option>
                    <option>221</option>
                    <option>222</option>
                    <option>223</option>
                    <option>224</option>
                    <option>225</option>
                    <option>226</option>
                    <option>227</option>
                    <option>228</option>
                    <option>229</option>
                    <option>230</option>
                    <option>231</option>
                    <option>232</option>
                    <option>233</option>
                    <option>234</option>
                    <option>235</option>
                    <option>236</option>
                    <option>237</option>
                    <option>238</option>
                    <option>239</option>
                    <option>240</option>
                    <option>241</option>
                    <option>242</option>
                    <option>243</option>
                    <option>244</option>
                    <option>245</option>
                    <option>246</option>
                    <option>247</option>
                    <option>248</option>
                    <option>249</option>
                    <option>250</option>
                    <option>251</option>
                    <option>252</option>
                    <option>253</option>
                    <option>254</option>
                    <option>255</option>
                    <option>256</option>
                    <option>257</option>
                    <option>258</option>
                    <option>259</option>
                    <option>260</option>
                    <option>261</option>
                    <option>262</option>
                    <option>263</option>
                    <option>264</option>
                    <option>265</option>
                    <option>266</option>
                    <option>267</option>
                    <option>268</option>
                    <option>269</option>
                    <option>270</option>
                    <option>271</option>
                    <option>272</option>
                    <option>273</option>
                    <option>274</option>
                    <option>275</option>
                    <option>276</option>
                    <option>277</option>
                    <option>278</option>
                    <option>279</option>
                    <option>280</option>
                    <option>281</option>
                    <option>282</option>
                    <option>283</option>
                    <option>284</option>
                    <option>285</option>
                    <option>286</option>
                    <option>287</option>
                    <option>288</option>
                    <option>289</option>
                    <option>290</option>
                    <option>291</option>
                    <option>292</option>
                    <option>293</option>
                    <option>294</option>
                    <option>295</option>
                    <option>296</option>
                    <option>297</option>
                    <option>298</option>
                    <option>299</option>
                    <option>300</option>
                </select>
            </div>
            <div class="h">
                Días para el próximo entrenamiento:
                <select id="new_player_daysForNextTraining">
                    <option>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                </select>
            </div>
            <div class="p20 tac"><label class="button" id="add_player">Añadir Jugador</label></div>
        </div>
    </div>
</div>
</body>
</html>
