<section id="section_templates">
    <div id="template_player">
        <div class="player b1 p5" id="player_{{playerId}}">
            <div class="h tac">Jugador {{playerId}}</div>
            <div class="h">Años: {{age}}</div>
            <div class="h">Días: {{days}}</div>
            <div class="h">Forma: {{form}}</div>
            <div class="h">Resistencia: {{stamina}}</div>
            <div class="h">Liderazgo: {{leadership}}</div>
            <div class="h">Experiencia: {{experience}}</div>
            <div class="h">Fidelidad: {{loyalty}}</div>
            <div class="h">Club de origen: {{motherClubBonus}}</div>
            <div class="h">Especialidad: {{specialty}}</div>
            <div class="h">Porteria: {{keeper}}</div>
            <div class="h">Defensa: {{defender}}</div>
            <div class="h">Jugadas: {{playmaker}}</div>
            <div class="h">Lateral: {{winger}}</div>
            <div class="h">Pases: {{passing}}</div>
            <div class="h">Anotación: {{scorer}}</div>
            <div class="h">Balón Parado: {{setPieces}}</div>
            <div class="h">Semana de incorporación: {{inclusionWeek}}</div>
            <div class="h">Días para el próximo entrenamiento: {{daysForNextTraining}}</div>
            <div class="p10 tac"><label class="button" onclick="delPlayer({{playerId}})">Borrar Jugador</label></div>
        </div>
    </div>
    <div id="template_stage">
        <div class="stage b1 p5" id="stage_{{trainingStageId}}">
            <div class="h tac">Etapa {{trainingStageId}}</div>
            <div class="h">Entrenamiento: {{trainingName training}}</div>
            <div class="h">Duración: {{duration}}</div>
            <div class="h">Entrenador: {{coach}}</div>
            <div class="h">Asistentes: {{assistants}}</div>
            <div class="h">Intensidad: {{intensity}}</div>
            <div class="h">Resistencia: {{stamina}}</div>
            <div class="p10 tac"><label class="button" onclick="delTrainingStage({{trainingStageId}})">Borrar Etapa</label></div>
        </div>
    </div>
    <div id="template_res_player">
        <div class="res_player b1 p5">
            <div class="h tac">Jugador {{playerId}}</div>
            <div class="h">Años: {{age}}</div>
            <div class="h">Días: {{days}}</div>
            <div class="h">Resistencia: {{stamina}}</div>
            <div class="h">Porteria: {{keeper}}</div>
            <div class="h">Defensa: {{defender}}</div>
            <div class="h">Jugadas: {{playmaker}}</div>
            <div class="h">Lateral: {{winger}}</div>
            <div class="h">Pases: {{passing}}</div>
            <div class="h">Anotación: {{scorer}}</div>
            <div class="h">Balón Parado: {{setPieces}}</div>
        </div>
    </div>
    <div id="template_formation_rating">
        <div class="b1 p5">
            <div class="h tac">{{title}}</div>
            <div class="fr">
                <table>
                    <tr>
                        <td>{{rating.rightDefense}}</td>
                        <td>{{rating.centralDefense}}</td>
                        <td>{{rating.leftDefense}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>{{rating.midfield}}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>{{rating.rightAttack}}</td>
                        <td>{{rating.centralAttack}}</td>
                        <td>{{rating.leftAttack}}</td>
                    </tr>
                </table>
                <table class="bw">
                    <tr>
                        <td class="bw">defensa:</td>
                        <td class="bw">{{rating.defense}}</td>
                        <td class="bw">&nbsp;</td>
                        <td class="bw">HatStats:</td>
                        <td class="bw">{{rating.hatStats}}</td>
                    </tr>
                    <tr>
                        <td class="bw">medio:</td>
                        <td class="bw">{{rating.midfield3}}</td>
                        <td class="bw">&nbsp;</td>
                        <td class="bw">PStats:</td>
                        <td class="bw">{{rating.peasoStats}}</td>
                    </tr>
                    <tr>
                        <td class="bw">ataque:</td>
                        <td class="bw">{{rating.attack}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div>
            <table>
                <tr>
                    <td class="bw"></td>
                    <td class="bw"></td>
                    <td>{{player_on_position players 'KP'}}</td>
                    <td class="bw"></td>
                    <td class="bw"></td>
                </tr>
                <tr>
                    <td>{{player_on_position players 'RB'}}</td>
                    <td>{{player_on_position players 'RCD'}}</td>
                    <td>{{player_on_position players 'MCD'}}</td>
                    <td>{{player_on_position players 'LCD'}}</td>
                    <td>{{player_on_position players 'LB'}}</td>
                </tr>
                <tr>
                    <td>{{player_on_position players 'RW'}}</td>
                    <td>{{player_on_position players 'RIM'}}</td>
                    <td>{{player_on_position players 'MIM'}}</td>
                    <td>{{player_on_position players 'LIM'}}</td>
                    <td>{{player_on_position players 'LW'}}</td>
                </tr>
                <tr>
                    <td class="bw"></td>
                    <td>{{player_on_position players 'RFW'}}</td>
                    <td>{{player_on_position players 'MFW'}}</td>
                    <td>{{player_on_position players 'LFW'}}</td>
                    <td class="bw"></td>
                </tr>
            </table>
        </div>
    </div>
    </div>
</section>
