<section id="section_templates">
    <div id="template_res_player">
        <div class="res_player b1 p5">
            <div class="h tac">Jugador {{playerId}}</div>
            <div class="h">Años: {{age}}</div>
            <div class="h">Días: {{days}}</div>
            <div class="h">Resistencia: {{stamina}}</div>
            <div class="h">Porteria: {{keeper}}</div>
            <div class="h">Defensa: {{defender}}</div>
            <div class="h">Jugadas: {{playmaker}}</div>
            <div class="h">Lateral: {{winger}}</div>
            <div class="h">Pases: {{passing}}</div>
            <div class="h">Anotación: {{scorer}}</div>
            <div class="h">Balón Parado: {{setPieces}}</div>
        </div>
    </div>
</section>
