<div class="accordion-item">
  <h2 class="accordion-header" id="stages-header">
    <button class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#stages-body"
            aria-expanded="false"
            aria-controls="stages-body">
      {{ "stages.header" | translate }}
    </button>
  </h2>
  <div id="stages-body"
       class="accordion-collapse collapse"
       aria-labelledby="stages-header">
    <div class="accordion-body">
      stages-body
    </div>
  </div>
</div>